@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kumbh Sans", sans-serif;
}

body {
	--dark-cyan: hsl(185, 75%, 39%); /* background */
	--very-dark-desaturated-blue: hsl(229, 23%, 23%); /*  */
	--dark-grayish-blue: hsl(227, 10%, 46%); /* text, line */
	--dark-gray: hsl(0, 0%, 59%); /*  */

	font-size: 2vh;
	color: var(--dark-grayish-blue);

	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	place-items: center;

	background-color: var(--dark-cyan);
	overflow: hidden;
}

/* utility classes */

.flex-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* tags */

main {
	width: 53vh;
	aspect-ratio: 10/11;
	border-radius: 1em;
	padding-bottom: 2em;
	background-color: white;
	overflow: hidden;
}

img {
	width: 100%;
}

hr {
	width: 100%;
	opacity: 0.2;
}

h1,
h2 {
	font-size: 1.5em;
	color: black;
}

h1 span {
	font-weight: normal;
	color: var(--dark-grayish-blue);
	margin-left: 0.2em;
}

/* classes */

.bg-circles {
	position: fixed;
	width: 70em;
	z-index: -1;
}

/* ids */

#bg-circle-1 {
	transform: translate(-50%, -50%);
}

#bg-circle-2 {
	transform: translate(50%, 50%);
}

#cover-container {
	width: 100%;
	margin-bottom: -4em;
}

#avatar {
	position: relative;
	width: 8em;
	border-radius: 50%;
	border: 0.5em solid white;
	top: -4em;
}

#city {
	margin-top: -1em;
}

#stats {
	padding: 0 3em;
}

#stats p {
	font-size: 0.8em;
	letter-spacing: 0.2em;
}

.attribution {
	position: relative;
	bottom: 0.5em;
	font-size: 0.75em;
	text-align: center;
	color: black;
}
.attribution a {
	color: white;
}
